// js-appear animations

.js-appear {
    opacity: 0;
    transition: all 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.js-appear-load, .js-appear-scroll {
    @extend .js-appear;
}

@for $i from 1 through 20 {
    [class*="js-appear--delay-#{$i}00"] {
        transition-delay: #{$i}00ms;
    }
}

    .js-appear--from-top {
        transform: translateY(-50px);
    }

    .js-appear--from-right {
        transform: translateX(50px);
    }

    .js-appear--from-bottom {
        transform: translateY(50px);
    }

    .js-appear--from-left {
        transform: translateX(-50px);
    }

    .js-appear--active {
        opacity: 1;

        &[class*="js-appear--from-"] {
            transform: translate(0);
        }
    }
